*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family:'Poppins-Regular';
    src: url(./fonts/Poppins-Regular.ttf);
}


body{
    background: #FFFFFF;
}

.desktop {
    display: flex;
    position: relative;
    width: 1920px;
    height: 1080px;
}
.container1 {
    width: 100%;
    
    background: #515DEF;
    display: flex;
    justify-content: space-between;
    

}
.image1 {
    margin-top: 33px;
    margin-left: 160px;
    width: 89px;
    height: 30px;
    justify-items: center;
}
.menu {
    display: flex;
    text-decoration: none;
    margin-top: 46px;
    font-family:'Poppins-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    margin-inline: auto;

    color: #FBFBFB;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar {
    display: flex;
    height: 30px;
    margin-right: 200px;
  
    
    column-gap: 56px;
   
  
}
.textbox {
    position: absolute;
    margin-left: 160px;
    margin-top: 160px;
    width: 864px;
    margin-right: 88px;
}
.hello{
   
    font-family:'Poppins-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;

    align-items: center;

    color: #FBFBFB;
}
.headline{ 

font-family: 'Poppins-Bold';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 80px;

margin-bottom: 32px;

color: #FBFBFB;
}
.text {
    
margin-bottom: 54px;
font-family:'Poppins-Regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;


color: #FBFBFB;
}
.button {
    border: none;
    cursor: pointer;
    width: 350px;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 20px;


    background: #FBFBFB;
    width: 350px;
    height: 80px;
}
.button > p {
width: 201px;
height: 30px;

font-family:'Poppins-Regular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
color: #333333;

flex: none;
order: 0;
flex-grow: 0;
}
.container2{
    width: 808px;
    height: 1080px; 
}
.button2 {
    border: none;
    cursor: pointer;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    
    position: absolute;
    width: 149px;
    height: 60px;
    left: 1611px;
    top: 30px;
    
    
    
    background: #515DEF;
    
    
    border: 1px solid #515DEF;
}
.button2> p {
    
width: 100px;
height: 27px;

font-family:'Poppins-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #FBFBFB;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.container3 {
    width: 1352px;
    height: 297px; 
    background: grey;
    position: absolute;
    margin-top: 783px;
       
    left: 0px;

    background: #FBFBFB;
}
.footer{
    display: flex;
    flex-direction: row;

    margin-top: 72px;
    
}
.footer > svg {
    margin-top: 72px;
    margin-inline:63px;
}
.mainbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}
.box1{
    
    height: 177px;
    width: 328px;
}
.title { 
margin-top: 30px;
font-family: 'Poppins-Bold';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;

}
.text1 {
margin-top: 8px;

font-family:'Poppins-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #909090;
}
.box2{
    
    height: 177px;
    width: 328px;
}
.box3 {
  
    height: 177px;
    width: 328px;
}